* {
    border: none;
    padding: none;
    
}

.background {
    background-color: rgb(47, 47, 47);
    border-radius: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 180px;
    background-color: rgb(35, 35, 36);
    border-radius: 15px 15px 0 0;
    
}

.header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid rgb(251, 185, 5);
    margin-left: 50px;
    margin-top: 30px;
}
h1 {
    position: absolute;
    color: rgb(251, 185, 5);
    font-family: 'Rubik', sans-serif; 
    font-size: 80px;
    margin-left: 280px;
    margin-top: 70px;
}

.links {
    margin-top: 20px;
}

.links a {
    all:unset;
    font-family: 'Rubik', sans-serif; 
    font-size: 20px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.links a:hover {
    color: rgb(251, 185, 5);
}

.center {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 60px;
    height: 560px;
}
.center span {
    margin-left: 350px;
    font-family: 'Rubik', sans-serif; 
    font-size: 20px;
    color:white;
    margin-top: -50px;
}
.center p {
    font-family: 'Rubik', sans-serif; 
    font-size: 20px;
    color:white;
    margin-left: 50px;
    margin-top: 100px;
}
.center img {
    position: absolute;
    width: 800px;  
    margin-left: 500px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow:0px 6px 6px rgba(0, 0, 0, 0.25);
}
.center .bandeira {
    all:unset;
    position: absolute;
    width: 300px;
    margin-left: 1100px;
    margin-top: -100px;
    
}
.center .eu {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 760px;
    margin-top: 248px;
    border: 6px solid rgb(35, 35, 36);
}

.footer {
    display: flex;
    width: 100%;

    height: 40px;
    background-color: rgb(35, 35, 36);
    border-radius: 0 0 15px 15px;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-family: 'Rubik', sans-serif; 
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 16px;
}