body {
    background-image: url("../assets/background2.svg");
}

.alles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    
}

.all-site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
.header {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.header-text {
    display: flex;
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem;
    color: white;
    margin-left: 140px;
}    
.bandeiras {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}


.brasil {
    all:unset;
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    color: white;
    margin-right: 5px;
    padding: 10px;
    background-color: rgba(255, 98, 0, 0.95);
    border-radius: 5px;
}
.alemanha {
    all:unset;
    display: flex;
    flex-direction: row;
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    color: white;
    margin-right: 5px;
    padding: 10px;
    background-color: rgba(68, 170, 158, 0.95);
    border-radius: 5px;
    cursor: pointer;
    
}

.usa {
    all:unset;
    display: flex;
    flex-direction: row;
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    color: white;
    margin-right: 5px;
    padding: 10px;
    background-color: rgba(68, 170, 158, 0.95);
    border-radius: 5px;
    cursor: pointer;
}
.brasil:hover {
    background-color: rgba(68, 170, 158, 0.95);
}
.usa:hover {
    background-color: rgba(255, 98, 0, 0.95);
}
.alemanha:hover {
    background-color: rgba(255, 98, 0, 0.95);
}
.background {
    display: flex;
    flex-direction: row;
    
    background-color: rgba(192, 214, 220, 0.90);
        
    width: 80vw;
    height: calc(100vh - 115px);

    border-radius:25px ;
    border: 3px solid white;

}
.container {
    display: flex;
    flex-direction: row;
}
.left-side {
    display: flex;
    flex-direction: column;
}
.perfil {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 3px solid white;

    margin-left: -105px;
    margin-top: -60px;
    transform: rotate(-15deg);

}

.contact {
    display: flex;
    flex-direction: column;
    
    font-family: 'Rubik', sans-serif;
    font-size: 0.8rem;
    color: white;

    margin-top: 40px;
    margin-left: -180px;
}
.linked, .github, .email, .resume, .cv, .certificado, .certificado2 {
    all: unset;

    text-align: center;
    padding: 6px;

    background-color:rgba(68, 170, 158, 0.95);
    border-radius: 8px;

    width: 120px;
    margin-left: 10px;
    margin-bottom: 2px;

    cursor: pointer;
}
.linked:hover, .github:hover, .email:hover, .resume:hover, .cv:hover, .certificado:hover, .certificado2:hover  {
    background-color: rgba(255, 98, 0, 0.95);
    margin-left: 30px;
}
.cubos img {
    width: 120px;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 10px;
}
.cubos:hover {
    margin-left: 30px;
}

.right-side {
    display: flex;
    flex-direction: column;
}
.nome {
   
    font-family: 'Acme', sans-serif;
    font-size: 3rem;
    color:rgba(255, 98, 0, 0.95);
    
    margin-top: 20px;
    margin-left: 60px;
}
.eu {
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: rgb(26, 61, 61);
    margin-top: 0px;
    margin-left:20px;
    width: 700px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(26, 61, 61);
    
}
.me {
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: rgb(26, 61, 61);
    margin-top: -10px;
    margin-left: 20px;
    width: 700px;
    
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(26, 61, 61);
   
}
.hard{ 
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    color: rgb(26, 61, 61); 
    margin-left: 20px;
    margin-top: -10px;
}
.icon {
    margin-left: 20px;
    
}
.icon img {
    height: 40px;
    margin-right: 4px;
    
}
.total-right {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 120px;
    padding-left: 20px; 
    border-left: 1px solid rgb(26, 61, 61);
    height: 400px;
}
.idiomas {
    display: flex;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    color: rgba(255, 98, 0, 0.95);
    padding-bottom: 3px;
    
}
span {
    display: flex;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    color: rgb(26, 61, 61);
    padding-bottom: 3px;
    
    
}
.border {
    width: 160px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: -50px;
    margin-right: 160px;
    border-top: 1px solid rgb(26, 61, 61);
    padding: 10px;
    
}
.soft {
    margin-top: 60px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    color: rgba(255, 98, 0, 0.95);
    
}
li {
    margin-left: -40px;
    display: flex;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    color: rgb(26, 61, 61);
    padding-bottom: 3px;
    

}
