/* font-family: 'Indie Flower', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Smooch', cursive; */
* {
    padding: 0;
    border: 0;
    box-sizing: border-box;

}
body {
    background-color: hsla(0, 0%, 0%, 0.994);
    
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
}
.header {
    
    display: flex;
    flex-direction: row;
    width: 1300px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: white;
    margin-left: 20px;
    
}
.header  {
    flex-direction: row;
    color: white;
    font-family: 'Montserrat', sans-serif;
   
}
.home {
    all: unset;
    color:rgb(255, 255, 255);
    margin-right: 10px;
    cursor: pointer;
}
.home:hover {
    color:rgb(255, 230, 0);
    margin-right: 10px;
}
.portfolio {
    all: unset;
    cursor: pointer;
    margin-right: 10px;
}
.portfolio:hover {
    color: rgb(255, 230, 0);
    margin-right: 10px;
}
.projects {
    all: unset;
    cursor: pointer;
    margin-right: 10px;
}
.projects:hover {
    color: rgb(255, 230, 0);
    margin-right: 10px;
}
.data {
    all: unset;
    cursor: pointer;
    margin-right: 10px;
    color: rgb(255, 230, 0);
}
.data:hover {
    color: rgb(255, 255, 255);
    margin-right: 10px;
}
.contact {
    all: unset;
    cursor: pointer;
    margin-right: 10px;
}
.contact:hover {
    color: rgb(255, 230, 0);
    margin-right: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 24px;
    font-weight: 100;
    color: rgb(255, 230, 0);
    margin-left: 80px;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-direction: column;  
}
.docs {
    display: flex;
    flex-direction: row;
    justify-content: center;
     
}
.resume {
    width: 900px;
    border-radius: 20px;
}
.file {
    all: unset;
    font-family: 'Montserrat', sans-serif; 
    color: white;
    height: 20px;
    font-size: 18px;
    font-weight: 100;
    margin-left: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}
.file:hover {
    color: rgb(255, 230, 0);
}
.docss {
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}
.certificats {
    width: 600px;
    border-radius: 20px;
    
}
.certificat01 {
    margin-left: 100px;
    width: 900px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.certificat02 {
    margin-left: 100px;
    width: 900px;
    border-radius: 20px;
}
.doc {
    all: unset;
    font-family: 'Montserrat', sans-serif; 
    width: 30px;
    padding: 5px;
    border-radius: 10px;
    border:1px solid white;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    margin-left: 1200px;
    cursor: pointer;
}
.doc:hover {
    color: rgb(255, 230, 0);
    border:1px solid rgb(255, 230, 0);
}
footer {
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    font-weight: 100;

    text-align: center;
    color: white;
    margin-top: 200px;
}